
// body{
//     background: #fffff8;
//     font-family: -apple-system, BlinkMacSystemFont, sans-serif;
// }

// #app{
//     display: grid;
//     grid-auto-rows: minmax(150px, auto);
//     /* grid-template-columns:  */
//     height:100vh;
//     background: #f23557;
//     color: #f0d43a;
//     justify-content: center;
//     grid-gap: 1em;
//     font-size: 20px;
//     font-family: 'Oswald', sans-serif;
// }



.container{
    display: grid;
    // grid-gap:10px 15px;
    justify-items:left;/*row axis, stretch is default, other options:start, end*/
    align-items: center; /*column axis */
    justify-content: center;
    align-content: center;
    // grid-template-columns: repeat(3,minmax(150px, 1fr));
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(10,1fr);
    // grid-template-areas:
    //     "h holder holder"
    //     "h holder holder"
    //     "h holder holder"
    //     "image post post"
    //     "image post post"
    //     "image post post"
    //     "image post post"
    //     "image post post"
    //     "image post post"

}

.headbuffer{
    width: 100%;
    height: 100%;
    background: #F8FA9D;   
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:2;
}

.header{
    width:100%;
    height: 100%;
    // border: 1px solid red;
    background: #F8FA9D;
    // grid-area: 2/1/3/2
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:5;
}

.image{
    // justify-self: stretch;
    // align-self:stretch;
    width: 100%;
    height: 100%;
    background: pink;
    object-fit: cover;
    grid-area: 6/1/11/3
}

.city{
    width: 100%;
    height: 100%;
    background: #F8FA9D;
    grid-area: 2/3/3/4 /*grid-row-start+grid-column-start+grid-row-end+grid-column-end*/
}

.departure{
    width: 100%;
    height: 100%;
    background: #F8FA9D;
    grid-area: 3/3/4/4
}

.button{
    width: 100%;
    height: 100%;
    background: #F8FA9D;
    // align-self:start;
    grid-area: 4/3/5/4
}

.buffer{
    width: 100%;
    height: 100%;
    background: pink;
    grid-area: 5/1/6/4
}

.returnCity{
    width: 100%;
    height: 100%;
    background: pink;
    grid-area: 6/3/7/4
}

.returnDate{
    width: 100%;
    height: 100%;
    background: pink;
    grid-area: 7/3/8/4
}

.days{
    width: 100%;
    height: 100%;
    background: pink;
    grid-area: 8/3/9/4
}

.weather{
    width: 100%;
    height: 100%;
    background: pink;
    grid-area: 9/3/12/4
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 36px;
}

input{
    display:block;
    // height: 60px;
    // width: 320px;
    // background:#22b2da;
    // color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    // border: none;
}

button{
    // width: 400px;
    // height: 100px;
    // background: #3b4a6b;
    // color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    // border: none;
    box-shadow: 2px 4px 5px #444;
}

h1{
    font-size: 72px;
}

textarea{
    // background:#22b2da;
    // color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
// /* Reset style for HTML element on active to have no border*/
// input:focus,
// select:focus,
// textarea:focus,
// button:focus {
//     outline: none;
// }
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    // color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    // color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    // color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 